In [1]:
import  pandas as pd
import numpy as np
pd.set_option('display.max_columns', 500)
folder = "C:/Users/Vikrant/Desktop/Session/Case/"
df = pd.read_csv(folder+"Open_Payments.csv", sep = ",",quotechar = '"', nrows=100)
print (df.head(5))
print ('-------------------------------------------------------')
df.info()
print ('-------------------------------------------------------')
print (df.shape)
print ('-------------------------------------------------------')
print (df.tail(5))

          NPI FIRST_NAME LAST_NAME  Total_Payment_USD Date_of_Payment  \
0  1063449940    WILLIAM   ANTHONY            3800.00      08/26/2015
1  1063449940    WILLIAM   ANTHONY            3800.00      05-04-2015
2  1063449940    WILLIAM   ANTHONY            3800.00      10/28/2015
3  1063489383      SUNIL       NaN            2500.00      12/13/2013
4  1083649792      JYOTI       NaN            -740.25      12/31/2013

              Form_of_Payment Nature_of_Payment DRUG_NAME
0     Cash or cash equivalent   Speaker Program       ABC
1     Cash or cash equivalent   Speaker Program       ABC
2     Cash or cash equivalent   Speaker Program       ABC
3     Cash or cash equivalent    Consulting Fee       ABC
4  In-kind items and services    Consulting Fee       ABC
-------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
NPI                  100 non-null int64
FIRST_NAME           100 non-null object
LAST_NAME            83 non-null object
Total_Payment_USD    100 non-null float64
Date_of_Payment      100 non-null object
Form_of_Payment      100 non-null object
Nature_of_Payment    100 non-null object
DRUG_NAME            100 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 6.3+ KB
-------------------------------------------------------
(100, 8)
-------------------------------------------------------
           NPI FIRST_NAME LAST_NAME  Total_Payment_USD Date_of_Payment  \
95  1508973447     SUJITH         R             3800.0      09/22/2015
96  1508973447     SUJITH         R             2375.0      09/22/2015
97  1508973447     SUJITH         R             3800.0      04/13/2015
98  1508973447     SUJITH         R             3800.0      07-07-2015
99  1508973447     SUJITH         R             3800.0      07/30/2015

            Form_of_Payment Nature_of_Payment DRUG_NAME
95  Cash or cash equivalent   Speaker Program       ABC
96  Cash or cash equivalent   Speaker Program       ABC
97  Cash or cash equivalent   Speaker Program       ABC
98  Cash or cash equivalent   Speaker Program       ABC
99  Cash or cash equivalent   Speaker Program       ABC

In [2]:
print (df.tail(5))
df.tail(5)

           NPI FIRST_NAME LAST_NAME  Total_Payment_USD Date_of_Payment  \
95  1508973447     SUJITH         R             3800.0      09/22/2015
96  1508973447     SUJITH         R             2375.0      09/22/2015
97  1508973447     SUJITH         R             3800.0      04/13/2015
98  1508973447     SUJITH         R             3800.0      07-07-2015
99  1508973447     SUJITH         R             3800.0      07/30/2015

            Form_of_Payment Nature_of_Payment DRUG_NAME
95  Cash or cash equivalent   Speaker Program       ABC
96  Cash or cash equivalent   Speaker Program       ABC
97  Cash or cash equivalent   Speaker Program       ABC
98  Cash or cash equivalent   Speaker Program       ABC
99  Cash or cash equivalent   Speaker Program       ABC

,NPI,FIRST_NAME,LAST_NAME,Total_Payment_USD,Date_of_Payment,Form_of_Payment,Nature_of_Payment,DRUG_NAME
95,1508973447,SUJITH,R,3800.0,09/22/2015,Cash or cash equivalent,Speaker Program,ABC
96,1508973447,SUJITH,R,2375.0,09/22/2015,Cash or cash equivalent,Speaker Program,ABC
97,1508973447,SUJITH,R,3800.0,04/13/2015,Cash or cash equivalent,Speaker Program,ABC
98,1508973447,SUJITH,R,3800.0,07-07-2015,Cash or cash equivalent,Speaker Program,ABC
99,1508973447,SUJITH,R,3800.0,07/30/2015,Cash or cash equivalent,Speaker Program,ABC

In [3]:
df_dtype = {"NPI":str,"FIRST_NAME":str,"LAST_NAME":str,"Total_Payment_USD":float,"Date_of_Payment":str,"Form_of_Payment":str,\
            "Nature_of_Payment":str,"DRUG_NAME":str}

df = pd.read_csv(folder+"Open_Payments.csv", sep = ",",quotechar = '"',\
                 dtype = df_dtype, parse_dates=['Date_of_Payment'])
df.dtypes

NPI                          object
FIRST_NAME                   object
LAST_NAME                    object
Total_Payment_USD           float64
Date_of_Payment      datetime64[ns]
Form_of_Payment              object
Nature_of_Payment            object
DRUG_NAME                    object
dtype: object

In [4]:
print (df.shape)
df.describe()

(4579, 8)

       Total_Payment_USD
count        4579.000000
mean         2870.529133
std          1846.629791
min         -1000.000000
25%          1750.000000
50%          2875.000000
75%          3800.000000
max         34000.000000

In [5]:
# Found Negative values in Numeric fields
df[df['Total_Payment_USD']<=0].head()

,NPI,FIRST_NAME,LAST_NAME,Total_Payment_USD,Date_of_Payment,Form_of_Payment,Nature_of_Payment,DRUG_NAME
4,1083649792,JYOTI,NaN,-740.25,2013-12-31,In-kind items and services,Consulting Fee,ABC
7,1083649792,JYOTI,NaN,-750.00,2014-03-31,In-kind items and services,Consulting Fee,ABC
49,1295719631,ALAN,LEWIS,-1000.00,2013-10-25,Cash or cash equivalent,Consulting Fee,Q

In [6]:
# Fix Negative values in Numeric fields
df_neg_fix = df[df['Total_Payment_USD']>=0]
df_neg_fix.describe()

       Total_Payment_USD
count        4576.000000
mean         2872.955234
std          1844.798713
min             1.000000
25%          1750.000000
50%          2875.000000
75%          3800.000000
max         34000.000000

In [7]:
df_neg_fix.isnull().sum()

NPI                   0
FIRST_NAME           17
LAST_NAME            33
Total_Payment_USD     0
Date_of_Payment       0
Form_of_Payment       3
Nature_of_Payment     0
DRUG_NAME             0
dtype: int64

In [8]:
df_neg_fix.count()

NPI                  4576
FIRST_NAME           4559
LAST_NAME            4543
Total_Payment_USD    4576
Date_of_Payment      4576
Form_of_Payment      4573
Nature_of_Payment    4576
DRUG_NAME            4576
dtype: int64

In [9]:
# Fix null values of column Form of Payment
df_FoP_fix = df_neg_fix
df_FoP_fix['Form_of_Payment'].fillna(value="NA",inplace=True)
df_FoP_fix.isnull().sum()

C:\Users\Vikrant\Anaconda3\lib\site-packages\pandas\core\generic.py:3660: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

NPI                   0
FIRST_NAME           17
LAST_NAME            33
Total_Payment_USD     0
Date_of_Payment       0
Form_of_Payment       0
Nature_of_Payment     0
DRUG_NAME             0
dtype: int64

In [10]:
df_na_fix = df_FoP_fix.dropna()
df_na_fix.isnull().sum()

NPI                  0
FIRST_NAME           0
LAST_NAME            0
Total_Payment_USD    0
Date_of_Payment      0
Form_of_Payment      0
Nature_of_Payment    0
DRUG_NAME            0
dtype: int64

In [11]:
df_na_fix.count()

NPI                  4543
FIRST_NAME           4543
LAST_NAME            4543
Total_Payment_USD    4543
Date_of_Payment      4543
Form_of_Payment      4543
Nature_of_Payment    4543
DRUG_NAME            4543
dtype: int64

In [12]:
df_deduped = df_na_fix.drop_duplicates(subset=['NPI','Date_of_Payment','DRUG_NAME','Form_of_Payment','Total_Payment_USD'],keep="first",inplace = False)
df_deduped.head()

,NPI,FIRST_NAME,LAST_NAME,Total_Payment_USD,Date_of_Payment,Form_of_Payment,Nature_of_Payment,DRUG_NAME
0,1063449940,WILLIAM,ANTHONY,3800.0,2015-08-26,Cash or cash equivalent,Speaker Program,ABC
1,1063449940,WILLIAM,ANTHONY,3800.0,2015-05-04,Cash or cash equivalent,Speaker Program,ABC
2,1063449940,WILLIAM,ANTHONY,3800.0,2015-10-28,Cash or cash equivalent,Speaker Program,ABC
9,1093825721,JOSEPH,M,400.0,2013-10-11,Cash or cash equivalent,Speaker Program,ABC
10,1093825721,JOSEPH,M,2250.0,2014-02-12,Cash or cash equivalent,Speaker Program,ABC

In [13]:

df_Speaker_Count = pd.pivot_table(df_deduped[df_deduped['Nature_of_Payment'] == 'Speaker Program'],values=['Nature_of_Payment'],\
                                  index=['NPI'], columns=['DRUG_NAME'], aggfunc='count').reset_index()

df_Speaker_Count.columns=['_'.join(col).strip().replace('Nature_of_Payment','Speaker_Count').replace('NPI_','NPI') \
                          for col in df_Speaker_Count.columns.values]


print (df_Speaker_Count.dtypes)

df_Speaker_Count.head()

NPI                   object
Speaker_Count_A      float64
Speaker_Count_AA     float64
Speaker_Count_AB     float64
Speaker_Count_ABC    float64
Speaker_Count_AC     float64
Speaker_Count_AD     float64
Speaker_Count_AF     float64
Speaker_Count_AG     float64
Speaker_Count_AH     float64
Speaker_Count_B      float64
Speaker_Count_BB     float64
Speaker_Count_BD     float64
Speaker_Count_C      float64
Speaker_Count_CC     float64
Speaker_Count_P      float64
Speaker_Count_Q      float64
dtype: object

,NPI,Speaker_Count_A,Speaker_Count_AA,Speaker_Count_AB,Speaker_Count_ABC,Speaker_Count_AC,Speaker_Count_AD,Speaker_Count_AF,Speaker_Count_AG,Speaker_Count_AH,Speaker_Count_B,Speaker_Count_BB,Speaker_Count_BD,Speaker_Count_C,Speaker_Count_CC,Speaker_Count_P,Speaker_Count_Q
0,1003012352,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1003036757,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2,1003054552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,1003066390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
4,1003082413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN

In [14]:
df_Total_Payment = pd.pivot_table(df_deduped, values=['Total_Payment_USD'],\
index=['NPI'], columns=['DRUG_NAME'], aggfunc='sum').reset_index()

df_Total_Payment.columns=['_'.join(col).strip().replace('Total_Payment_USD','Total_Payment').replace('NPI_','NPI') for col in df_Total_Payment.columns.values]
df_Total_Payment= df_Total_Payment.fillna(0)

df_Total_Payment.head()

,NPI,Total_Payment_A,Total_Payment_AA,Total_Payment_AB,Total_Payment_ABC,Total_Payment_AC,Total_Payment_AD,Total_Payment_AF,Total_Payment_AG,Total_Payment_AH,Total_Payment_B,Total_Payment_BB,Total_Payment_BD,Total_Payment_C,Total_Payment_CC,Total_Payment_P,Total_Payment_Q
0,1003006115,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2100.00,0.0
1,1003012352,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,400.0,0.0,0.0,0.0,0.0,0.00,0.0
2,1003017971,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4911.56,0.0
3,1003036757,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1350.0,0.0,0.0,0.00,0.0
4,1003054552,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,4440.0

In [15]:
Open_Payments_df = df_Total_Payment.merge(df_Speaker_Count, on = 'NPI', how='outer')
Open_Payments_df.head()

,NPI,Total_Payment_A,Total_Payment_AA,Total_Payment_AB,Total_Payment_ABC,Total_Payment_AC,Total_Payment_AD,Total_Payment_AF,Total_Payment_AG,Total_Payment_AH,Total_Payment_B,Total_Payment_BB,Total_Payment_BD,Total_Payment_C,Total_Payment_CC,Total_Payment_P,Total_Payment_Q,Speaker_Count_A,Speaker_Count_AA,Speaker_Count_AB,Speaker_Count_ABC,Speaker_Count_AC,Speaker_Count_AD,Speaker_Count_AF,Speaker_Count_AG,Speaker_Count_AH,Speaker_Count_B,Speaker_Count_BB,Speaker_Count_BD,Speaker_Count_C,Speaker_Count_CC,Speaker_Count_P,Speaker_Count_Q
0,1003006115,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2100.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1003012352,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,400.0,0.0,0.0,0.0,0.0,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1003017971,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4911.56,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1003036757,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1350.0,0.0,0.0,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
4,1003054552,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,4440.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [16]:
Selected_Open_Payments_df = Open_Payments_df[['NPI','Speaker_Count_P','Speaker_Count_Q','Speaker_Count_A','Speaker_Count_B',\
                                               'Speaker_Count_C','Total_Payment_P','Total_Payment_Q','Total_Payment_A',
                                               'Total_Payment_B','Total_Payment_C']].fillna(0)
for col in Selected_Open_Payments_df:
    if "Count" in col:
        Selected_Open_Payments_df[col] = Selected_Open_Payments_df[col].astype(int)
Selected_Open_Payments_df.head()

,NPI,Speaker_Count_P,Speaker_Count_Q,Speaker_Count_A,Speaker_Count_B,Speaker_Count_C,Total_Payment_P,Total_Payment_Q,Total_Payment_A,Total_Payment_B,Total_Payment_C
0,1003006115,0,0,0,0,0,2100.00,0.0,0.0,0.0,0.0
1,1003012352,0,0,0,1,0,0.00,0.0,0.0,400.0,0.0
2,1003017971,0,0,0,0,0,4911.56,0.0,0.0,0.0,0.0
3,1003036757,0,0,0,0,0,0.00,0.0,0.0,0.0,0.0
4,1003054552,0,1,0,0,0,0.00,4440.0,0.0,0.0,0.0

In [17]:
Selected_Open_Payments_df.dtypes

NPI                 object
Speaker_Count_P      int32
Speaker_Count_Q      int32
Speaker_Count_A      int32
Speaker_Count_B      int32
Speaker_Count_C      int32
Total_Payment_P    float64
Total_Payment_Q    float64
Total_Payment_A    float64
Total_Payment_B    float64
Total_Payment_C    float64
dtype: object

In [18]:
PART_D = pd.read_csv(folder+"PART D.csv")
PART_D.info()
PART_D.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7555 entries, 0 to 7554
Data columns (total 8 columns):
NPI                  7555 non-null int64
ORGANIZATION_NAME    7555 non-null object
NAME                 7555 non-null object
DRUG_NAME            7555 non-null object
PATIENT_COUNT        7555 non-null int64
CLAIM_COUNT          7555 non-null int64
TOTAL_DAY_SUPPLY     7555 non-null int64
TOTAL_DRUG_COST      7547 non-null float64
dtypes: float64(1), int64(4), object(3)
memory usage: 472.3+ KB

(7555, 8)

In [19]:
PART_D.head()

,NPI,ORGANIZATION_NAME,NAME,DRUG_NAME,PATIENT_COUNT,CLAIM_COUNT,TOTAL_DAY_SUPPLY,TOTAL_DRUG_COST
0,1184655466,ABBASI,NUZHAT,A,12,12,74,193.21
1,1366776007,ABBOTT,SUSAN,AA,21,117,6030,1949.40
2,1174572929,ABDEL-JALIL,SUHAIR,A,13,21,127,513.32
3,1639359714,ABDEL-KARIM,ISAM,B,41,64,1230,461.94
4,1124097100,ABDELHADI,JANE,BB,50,163,4234,1451.70

In [20]:
PART_D.isnull().sum()

NPI                  0
ORGANIZATION_NAME    0
NAME                 0
DRUG_NAME            0
PATIENT_COUNT        0
CLAIM_COUNT          0
TOTAL_DAY_SUPPLY     0
TOTAL_DRUG_COST      8
dtype: int64

In [21]:
PART_D.dtypes

NPI                    int64
ORGANIZATION_NAME     object
NAME                  object
DRUG_NAME             object
PATIENT_COUNT          int64
CLAIM_COUNT            int64
TOTAL_DAY_SUPPLY       int64
TOTAL_DRUG_COST      float64
dtype: object

In [22]:
PART_D.describe()

,NPI,PATIENT_COUNT,CLAIM_COUNT,TOTAL_DAY_SUPPLY,TOTAL_DRUG_COST
count,7.555000e+03,7555.000000,7555.000000,7555.000000,7.547000e+03
mean,1.492530e+09,32.220384,158.854004,3572.619590,4.963812e+04
std,2.849107e+08,28.660489,2572.987102,6150.110895,1.392193e+06
min,1.003006e+09,11.000000,0.000000,12.000000,-1.120140e+03
25%,1.245212e+09,15.000000,22.000000,151.000000,3.717100e+02
50%,1.487991e+09,22.000000,45.000000,647.000000,6.788000e+02
75%,1.730432e+09,39.000000,106.000000,4474.500000,1.515900e+03
max,1.992994e+09,393.000000,100000.000000,90297.000000,6.387639e+07

In [23]:
PART_D['NPI']= PART_D['NPI'].astype(object)

In [24]:
PART_D.dtypes

NPI                   object
ORGANIZATION_NAME     object
NAME                  object
DRUG_NAME             object
PATIENT_COUNT          int64
CLAIM_COUNT            int64
TOTAL_DAY_SUPPLY       int64
TOTAL_DRUG_COST      float64
dtype: object

In [25]:
PART_D.head()

,NPI,ORGANIZATION_NAME,NAME,DRUG_NAME,PATIENT_COUNT,CLAIM_COUNT,TOTAL_DAY_SUPPLY,TOTAL_DRUG_COST
0,1184655466,ABBASI,NUZHAT,A,12,12,74,193.21
1,1366776007,ABBOTT,SUSAN,AA,21,117,6030,1949.40
2,1174572929,ABDEL-JALIL,SUHAIR,A,13,21,127,513.32
3,1639359714,ABDEL-KARIM,ISAM,B,41,64,1230,461.94
4,1124097100,ABDELHADI,JANE,BB,50,163,4234,1451.70

In [26]:
PART_D.groupby('DRUG_NAME').mean()

           PATIENT_COUNT  CLAIM_COUNT  TOTAL_DAY_SUPPLY  TOTAL_DRUG_COST
DRUG_NAME
A              28.195658    34.295018        255.180351     57811.391603
AA             40.421687   585.274431       9020.182062      3639.767456
AD             35.272000   154.372800       6163.940800     12108.167708
B              21.751553    39.857143        683.453416    272672.895694
BB             40.919255   417.632298       8766.811180      3712.293566
BD             30.882463   123.774254       4822.363806      4964.522280
C              19.810811    29.567568        680.756757      3300.081892
CC             41.059249   172.342486       7891.885838     27648.276662

In [27]:
PART_D.groupby('DRUG_NAME').agg(['count','mean','min','max','quantile'])

          PATIENT_COUNT                              CLAIM_COUNT              \
                  count       mean min  max quantile       count        mean
DRUG_NAME
A                  3593  28.195658  11  313     20.0        3593   34.295018
AA                  747  40.421687  11  350     29.0         747  585.274431
AD                  625  35.272000  11  227     25.0         625  154.372800
B                   483  21.751553  11  179     17.0         483   39.857143
BB                  805  40.919255  11  285     31.0         805  417.632298
BD                  536  30.882463  11  393     22.0         536  123.774254
C                    74  19.810811  11  136     16.0          74   29.567568
CC                  692  41.059249  11  393     31.0         692  172.342486

                               TOTAL_DAY_SUPPLY                           \
          min     max quantile            count         mean  min    max
DRUG_NAME
A          11     590     23.0             3593   255.180351   20  20699
AA         12  100000    124.0              747  9020.182062  420  59466
AD          2    1514     91.0              625  6163.940800  221  38127
B          11     225     33.0              483   683.453416   12   5226
BB          0  100000    119.0              805  8766.811180  402  73170
BD          0    1015     86.5              536  4822.363806  395  74201
C          12     206     24.5               74   680.756757  125   5081
CC         13    1553    120.5              692  7891.885838  376  90297

                   TOTAL_DRUG_COST                                       \
          quantile           count           mean      min          max
DRUG_NAME
A            150.0            3593   57811.391603 -1120.14  63876387.02
AA          6150.0             747    3639.767456    74.02   1104847.91
AD          4272.0             624   12108.167708    35.41   6696690.00
B            503.0             483  272672.895694    24.73  63576357.46
BB          6300.0             802    3712.293566    56.47   1717011.44
BD          3452.0             535    4964.522280   108.74    853854.68
C            566.0              74    3300.081892   758.10     22073.12
CC          5887.5             689   27648.276662   103.90  16911692.87


           quantile
DRUG_NAME
A           519.520
AA         1140.630
AD          473.150
B           320.910
BB          950.280
BD         2158.560
C          2542.035
CC         2258.100

In [28]:
PART_D.isnull().sum()

NPI                  0
ORGANIZATION_NAME    0
NAME                 0
DRUG_NAME            0
PATIENT_COUNT        0
CLAIM_COUNT          0
TOTAL_DAY_SUPPLY     0
TOTAL_DRUG_COST      8
dtype: int64

In [29]:
PART_D_FORMATD=PART_D[(np.abs(PART_D.TOTAL_DAY_SUPPLY-PART_D.TOTAL_DAY_SUPPLY.mean())<=(3*PART_D.TOTAL_DAY_SUPPLY.std()))
    & (np.abs(PART_D.TOTAL_DRUG_COST-PART_D.TOTAL_DRUG_COST.mean())<=(3*PART_D.TOTAL_DRUG_COST.std())) 
   & (np.abs(PART_D.CLAIM_COUNT-PART_D.CLAIM_COUNT.mean())<=(3*PART_D.CLAIM_COUNT.std()))]

In [30]:
PART_D_FORMATD.describe()

       PATIENT_COUNT  CLAIM_COUNT  TOTAL_DAY_SUPPLY  TOTAL_DRUG_COST
count    7374.000000  7374.000000       7374.000000     7.374000e+03
mean       29.990778    80.412259       2979.512069     2.550913e+03
std        23.404264    94.262740       4425.627494     3.976750e+04
min        11.000000     0.000000         12.000000    -1.120140e+03
25%        15.000000    21.000000        149.000000     3.677500e+02
50%        22.000000    43.000000        578.500000     6.607750e+02
75%        37.000000    99.000000       4110.000000     1.426362e+03
max       313.000000  1143.000000      22016.000000     2.202525e+06

In [31]:
PART_D.dtypes

NPI                   object
ORGANIZATION_NAME     object
NAME                  object
DRUG_NAME             object
PATIENT_COUNT          int64
CLAIM_COUNT            int64
TOTAL_DAY_SUPPLY       int64
TOTAL_DRUG_COST      float64
dtype: object

In [32]:
PART_D_FORMATD.dtypes

NPI                   object
ORGANIZATION_NAME     object
NAME                  object
DRUG_NAME             object
PATIENT_COUNT          int64
CLAIM_COUNT            int64
TOTAL_DAY_SUPPLY       int64
TOTAL_DRUG_COST      float64
dtype: object

In [33]:
PART_D_FULL =pd.pivot_table(PART_D_FORMATD,values=['PATIENT_COUNT','CLAIM_COUNT'],\
index=['NPI'], columns=['DRUG_NAME'], aggfunc='sum').reset_index()

PART_D_FULL.columns=['_'.join(col).strip().replace('COUNT','VOLUME').replace('NPI_','NPI') for col in PART_D_FULL.columns.values]
PART_D_FULL= PART_D_FULL.fillna(0)
PART_D_FULL['NPI']=PART_D_FULL['NPI'].astype(object)

PART_D_FULL.head()

,NPI,CLAIM_VOLUME_A,CLAIM_VOLUME_AA,CLAIM_VOLUME_AD,CLAIM_VOLUME_B,CLAIM_VOLUME_BB,CLAIM_VOLUME_BD,CLAIM_VOLUME_C,CLAIM_VOLUME_CC,PATIENT_VOLUME_A,PATIENT_VOLUME_AA,PATIENT_VOLUME_AD,PATIENT_VOLUME_B,PATIENT_VOLUME_BB,PATIENT_VOLUME_BD,PATIENT_VOLUME_C,PATIENT_VOLUME_CC
0,1003006115,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1003008517,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1003012154,17.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1003012352,0.0,0.0,0.0,32.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0
4,1003013756,0.0,172.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
Selected_Part_D = PART_D_FULL[['NPI','CLAIM_VOLUME_A','PATIENT_VOLUME_A','CLAIM_VOLUME_B','PATIENT_VOLUME_B','CLAIM_VOLUME_C','PATIENT_VOLUME_C']]
print(Selected_Part_D.dtypes)

NPI                  object
CLAIM_VOLUME_A      float64
PATIENT_VOLUME_A    float64
CLAIM_VOLUME_B      float64
PATIENT_VOLUME_B    float64
CLAIM_VOLUME_C      float64
PATIENT_VOLUME_C    float64
dtype: object

In [35]:
print("###############################################################################################################")

###############################################################################################################

In [36]:
part_b = pd.read_csv(folder+ "PART B_new.csv")

In [37]:
print(part_b.head(10))

print(len(part_b['NPI'].unique()))

          NPI    LAST_NAME FIRST_NAME                         PROVIDER_TYPE  \
0  1003001363      STEVENS    CHARLES                        Anesthesiology
1  1003809336      CARROLL       ALAN                       Family Practice
2  1003810797       HILAND      STEVE                      General Practice
3  1003810995      SHELTON    MICHAEL                       Family Practice
4  1003811019  OBIEDZINSKI     PHILIP                              Podiatry
5  1003824442       LOOMER    JEFFREY                          Rheumatology
6  1003849035      EL ZIND     NABILA                             Neurology
7  1003852880     WILLIAMS    HEATHER                    Orthopedic Surgery
8  1003853219     FREYLIKH    MIKHAIL  Physical Medicine and Rehabilitation
9  1003854746       CARDIN       JOAN                    Nurse Practitioner

  PLACE_OF_SERVICE HCPCS_CODE HCPCS_DESCRIPTION  LINE_SRVC_CNT  PATIENT_CNT  \
0                O      J1100                 Q         6167.0          168
1                O      J3301                 P          604.0           54
2                O      J3301                 P           84.0           61
3                O      J3301                 P           40.0           15
4                O      J1100                 Q           55.0           37
5                O      J3301                 P          137.0           31
6                O      J1100                 Q          624.0           85
7                O      J3301                 P           39.0           16
8                O      J3301                 P           77.0           35
9                O      J3301                 P          716.0          132

   CLAIM_CNT  AVERAGE_MEDICARE_ALLOWED_AMT Unnamed: 11
0        414                      0.112560         OPH
1         76                      1.689586         NaN
2         84                      1.684524         NaN
3         19                      1.691750         OPH
4         53                      0.115636         NaN
5         34                      1.691460         NaN
6        159                      0.116506         NaN
7         17                      1.674872         NaN
8         63                      1.687792         NaN
9        179                      1.687821         OPM
9339

In [38]:
part_b['NPI']= part_b['NPI'].astype(object)
part_b.dtypes

NPI                              object
LAST_NAME                        object
FIRST_NAME                       object
PROVIDER_TYPE                    object
PLACE_OF_SERVICE                 object
HCPCS_CODE                       object
HCPCS_DESCRIPTION                object
LINE_SRVC_CNT                   float64
PATIENT_CNT                       int64
CLAIM_CNT                         int64
AVERAGE_MEDICARE_ALLOWED_AMT    float64
Unnamed: 11                      object
dtype: object

In [39]:
summary_1 = part_b.groupby('HCPCS_DESCRIPTION')['PATIENT_CNT'].sum().reset_index().sort_values('PATIENT_CNT', ascending=False)

print(summary_1)

  HCPCS_DESCRIPTION  PATIENT_CNT
6                 P       173155
5                AH       167715
2                AE       150687
7                 Q       111402
3                AF        50367
4                AG        30569
1                AC        26024
0                AB        23215

In [40]:
summary_2 = part_b.groupby('HCPCS_DESCRIPTION')['CLAIM_CNT'].sum().reset_index().sort_values('CLAIM_CNT', ascending=False)

print(summary_2)

  HCPCS_DESCRIPTION  CLAIM_CNT
5                AH     318150
2                AE     292027
6                 P     260239
7                 Q     257717
3                AF     136439
1                AC      39196
4                AG      30572
0                AB      23221

In [41]:
summary_1['patient_share'] = (((summary_1['PATIENT_CNT'])/(summary_1['PATIENT_CNT'].agg('sum'))).round(2))*100

print(summary_1)

  HCPCS_DESCRIPTION  PATIENT_CNT  patient_share
6                 P       173155           24.0
5                AH       167715           23.0
2                AE       150687           21.0
7                 Q       111402           15.0
3                AF        50367            7.0
4                AG        30569            4.0
1                AC        26024            4.0
0                AB        23215            3.0

In [42]:
summary_2['claim_share'] = (((summary_2['CLAIM_CNT'])/(summary_2['CLAIM_CNT'].agg('sum'))).round(2))*100

print(summary_2)

  HCPCS_DESCRIPTION  CLAIM_CNT  claim_share
5                AH     318150         23.0
2                AE     292027         22.0
6                 P     260239         19.0
7                 Q     257717         19.0
3                AF     136439         10.0
1                AC      39196          3.0
4                AG      30572          2.0
0                AB      23221          2.0

In [43]:
part_b['LINE_SRVC_CNT'].fillna(value=0,inplace=True)

In [44]:
part_b.dtypes

NPI                              object
LAST_NAME                        object
FIRST_NAME                       object
PROVIDER_TYPE                    object
PLACE_OF_SERVICE                 object
HCPCS_CODE                       object
HCPCS_DESCRIPTION                object
LINE_SRVC_CNT                   float64
PATIENT_CNT                       int64
CLAIM_CNT                         int64
AVERAGE_MEDICARE_ALLOWED_AMT    float64
Unnamed: 11                      object
dtype: object

In [45]:
final_pivot =pd.pivot_table(part_b,values=['PATIENT_CNT','CLAIM_CNT'],\
index=['NPI'], columns=['HCPCS_DESCRIPTION'], aggfunc='sum').reset_index()

final_pivot.columns=['_'.join(col).strip().replace('CNT','VOLUME').replace('NPI_','NPI') for col in final_pivot.columns.values]
final_pivot.fillna(value=0,inplace=True)
final_pivot.head(10)

,NPI,CLAIM_VOLUME_AB,CLAIM_VOLUME_AC,CLAIM_VOLUME_AE,CLAIM_VOLUME_AF,CLAIM_VOLUME_AG,CLAIM_VOLUME_AH,CLAIM_VOLUME_P,CLAIM_VOLUME_Q,PATIENT_VOLUME_AB,PATIENT_VOLUME_AC,PATIENT_VOLUME_AE,PATIENT_VOLUME_AF,PATIENT_VOLUME_AG,PATIENT_VOLUME_AH,PATIENT_VOLUME_P,PATIENT_VOLUME_Q
0,1003001363,0.0,0.0,0.0,0.0,0.0,0.0,1031.0,449.0,0.0,0.0,0.0,0.0,0.0,0.0,376.0,183.0
1,1003006115,0.0,0.0,0.0,0.0,0.0,0.0,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,0.0
2,1003014986,0.0,0.0,0.0,0.0,0.0,29.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,0.0,0.0
3,1003017971,0.0,0.0,0.0,0.0,0.0,0.0,95.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,81.0,0.0
4,1003029034,0.0,120.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1003054552,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.0
6,1003070558,0.0,0.0,0.0,47.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,0.0,0.0,0.0,0.0
7,1003071010,0.0,0.0,245.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,192.0,0.0,0.0,0.0,0.0,0.0
8,1003079922,0.0,0.0,0.0,0.0,0.0,151.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,115.0,0.0,0.0
9,1003084237,0.0,0.0,0.0,0.0,0.0,157.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,144.0,0.0,0.0

In [46]:
final_pivot.dtypes

NPI                    int64
CLAIM_VOLUME_AB      float64
CLAIM_VOLUME_AC      float64
CLAIM_VOLUME_AE      float64
CLAIM_VOLUME_AF      float64
CLAIM_VOLUME_AG      float64
CLAIM_VOLUME_AH      float64
CLAIM_VOLUME_P       float64
CLAIM_VOLUME_Q       float64
PATIENT_VOLUME_AB    float64
PATIENT_VOLUME_AC    float64
PATIENT_VOLUME_AE    float64
PATIENT_VOLUME_AF    float64
PATIENT_VOLUME_AG    float64
PATIENT_VOLUME_AH    float64
PATIENT_VOLUME_P     float64
PATIENT_VOLUME_Q     float64
dtype: object

In [47]:
final_pivot_2 = final_pivot[['NPI', 'CLAIM_VOLUME_P','CLAIM_VOLUME_Q','PATIENT_VOLUME_P','PATIENT_VOLUME_Q']]
final_pivot_2['NPI']= final_pivot_2['NPI'].astype('str')
print(final_pivot_2.dtypes)
final_pivot_2.head(10)

NPI                  object
CLAIM_VOLUME_P      float64
CLAIM_VOLUME_Q      float64
PATIENT_VOLUME_P    float64
PATIENT_VOLUME_Q    float64
dtype: object

C:\Users\Vikrant\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,NPI,CLAIM_VOLUME_P,CLAIM_VOLUME_Q,PATIENT_VOLUME_P,PATIENT_VOLUME_Q
0,1003001363,1031.0,449.0,376.0,183.0
1,1003006115,26.0,0.0,24.0,0.0
2,1003014986,0.0,0.0,0.0,0.0
3,1003017971,95.0,0.0,81.0,0.0
4,1003029034,0.0,0.0,0.0,0.0
5,1003054552,0.0,17.0,0.0,16.0
6,1003070558,0.0,0.0,0.0,0.0
7,1003071010,0.0,0.0,0.0,0.0
8,1003079922,0.0,0.0,0.0,0.0
9,1003084237,0.0,0.0,0.0,0.0

In [48]:
print(len(final_pivot_2['NPI'].unique()))

9339

In [49]:
df = pd.read_csv(folder+"NPPES DATA.csv", sep = ",",quotechar = '"', nrows=100)
print (df.head(5))
print ('-------------------------------------------------------')
df.info()
print ('-------------------------------------------------------')
print (df.shape)
print ('-------------------------------------------------------')
print (df.tail(5))

          NPI SPECIALTY   LAST_NAME FIRST_NAME MIDDLE_NAME  \
0  1003001363       OPH     STEVENS    CHARLES         NaN
1  1003006115       RHM      DURHAM   BENJAMIN         NaN
2  1003014986       OPM  YUZEFOVICH    MICHAEL         NaN
3  1003017971       RHM       TWEET    MATTHEW         LEE
4  1003029034      OPRS       BOWEN     JOSEPH    MARSHALL

             ADDRESS_FIRST_LINE ADDRESS_SECOND_LINE        CITY STATE  \
0     1665 S IMPERIAL AVE STE D                 NaN   EL CENTRO    CA
1      2300 MANCHESTER EXPY # A         SUITE 101-A    COLUMBUS    GA
2  8302 OLD COURTHOUSE RD STE A                 NaN      VIENNA    VA
3              2725 CAPITOL AVE           SUITE 302  SACRAMENTO    CA
4            1296 E POLSTON AVE             SUITE B  POST FALLS    ID

         ZIP
0  922434247
1  319046802
2  221823873
3  958166004
4  838545217
-------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
NPI                    100 non-null int64
SPECIALTY              100 non-null object
LAST_NAME              100 non-null object
FIRST_NAME             100 non-null object
MIDDLE_NAME            79 non-null object
ADDRESS_FIRST_LINE     100 non-null object
ADDRESS_SECOND_LINE    47 non-null object
CITY                   100 non-null object
STATE                  100 non-null object
ZIP                    100 non-null int64
dtypes: int64(2), object(8)
memory usage: 7.9+ KB
-------------------------------------------------------
(100, 10)
-------------------------------------------------------
           NPI SPECIALTY  LAST_NAME FIRST_NAME MIDDLE_NAME  \
95  1013071612       OPM  LEISAWITZ    ELLIOTT           G
96  1013072404       OPH     FETELL       JILL         NaN
97  1013077395       RHM      MEHTA       ARIZ    RUYINTAN
98  1013093582      OPRS  WASSERMAN       DANA         NaN
99  1013094978       OPH  CHILDRESS     THOMAS       WAYNE

         ADDRESS_FIRST_LINE ADDRESS_SECOND_LINE         CITY STATE        ZIP
95      1020 GRINGS HILL RD                 NaN      READING    PA  196088844
96  26 FIREMANS MEMORIAL DR           SUITE 115       POMONA    NY  109703553
97         191 PALISADE AVE                 NaN  JERSEY CITY    NJ   73061112
98            9327 N 3RD ST           SUITE 100      PHOENIX    AZ  850202471
99       3 AUDUBON PLAZA DR           SUITE 320   LOUISVILLE    KY  402171319

In [50]:
NPPES_df = pd.read_csv(folder+"NPPES DATA.csv", sep = ",",quotechar = '"',\
                 dtype = object)
print (NPPES_df.head())
NPPES_df.dtypes

          NPI SPECIALTY   LAST_NAME FIRST_NAME MIDDLE_NAME  \
0  1003001363       OPH     STEVENS    CHARLES         NaN
1  1003006115       RHM      DURHAM   BENJAMIN         NaN
2  1003014986       OPM  YUZEFOVICH    MICHAEL         NaN
3  1003017971       RHM       TWEET    MATTHEW         LEE
4  1003029034      OPRS       BOWEN     JOSEPH    MARSHALL

             ADDRESS_FIRST_LINE ADDRESS_SECOND_LINE        CITY STATE  \
0     1665 S IMPERIAL AVE STE D                 NaN   EL CENTRO    CA
1      2300 MANCHESTER EXPY # A         SUITE 101-A    COLUMBUS    GA
2  8302 OLD COURTHOUSE RD STE A                 NaN      VIENNA    VA
3              2725 CAPITOL AVE           SUITE 302  SACRAMENTO    CA
4            1296 E POLSTON AVE             SUITE B  POST FALLS    ID

         ZIP
0  922434247
1  319046802
2  221823873
3  958166004
4  838545217

NPI                    object
SPECIALTY              object
LAST_NAME              object
FIRST_NAME             object
MIDDLE_NAME            object
ADDRESS_FIRST_LINE     object
ADDRESS_SECOND_LINE    object
CITY                   object
STATE                  object
ZIP                    object
dtype: object

In [51]:
print (NPPES_df.shape)
NPPES_df.describe()

(17906, 10)

,NPI,SPECIALTY,LAST_NAME,FIRST_NAME,MIDDLE_NAME,ADDRESS_FIRST_LINE,ADDRESS_SECOND_LINE,CITY,STATE,ZIP
count,17457,17457,17457,17130,13319,17457,7880,17457,17457,17457
unique,17457,4,11417,4292,2289,14685,2698,3728,58,14414
top,1114031085,OPM,PATEL,MICHAEL,A,200 1ST ST SW,SUITE 100,HOUSTON,CA,559050001
freq,1,4429,98,426,740,35,397,161,1427,35

In [52]:
print (NPPES_df.isnull().sum())
print (NPPES_df.count())

NPI                      449
SPECIALTY                449
LAST_NAME                449
FIRST_NAME               776
MIDDLE_NAME             4587
ADDRESS_FIRST_LINE       449
ADDRESS_SECOND_LINE    10026
CITY                     449
STATE                    449
ZIP                      449
dtype: int64
NPI                    17457
SPECIALTY              17457
LAST_NAME              17457
FIRST_NAME             17130
MIDDLE_NAME            13319
ADDRESS_FIRST_LINE     17457
ADDRESS_SECOND_LINE     7880
CITY                   17457
STATE                  17457
ZIP                    17457
dtype: int64

In [53]:
NPPES_df_deduped = NPPES_df.drop_duplicates(subset=['NPI'],keep="first",inplace = False)

NPPES_df_deduped.count()

NPI                    17457
SPECIALTY              17457
LAST_NAME              17457
FIRST_NAME             17130
MIDDLE_NAME            13319
ADDRESS_FIRST_LINE     17457
ADDRESS_SECOND_LINE     7880
CITY                   17457
STATE                  17457
ZIP                    17457
dtype: int64

In [54]:
Sub_Spec_df = pd.read_csv(folder+"SUB SPECIALTY.csv", sep = ",",quotechar = '"',\
                 dtype = object)
print (Sub_Spec_df.head())
Sub_Spec_df.dtypes

          NPI LAST NAME FIRST NAME SUB SPECIALTY
0  1003015207    SWANEY     ROBERT             R
1  1003072273   HUGGINS     SANDRA             R
2  1003133117    TREUIL    REBECCA             S
3  1003195355     MOORE   PATRICIA             S
4  1003802497     JAMES      DAVID             R

NPI              object
LAST NAME        object
FIRST NAME       object
SUB SPECIALTY    object
dtype: object

In [55]:
print (Sub_Spec_df.shape)
Sub_Spec_df.describe()

(4449, 4)

               NPI LAST NAME FIRST NAME SUB SPECIALTY
count         4449      4449       4449          4449
unique        4449      3477       1602             2
top     1508961319     PATEL    MICHAEL             S
freq             1        23        132          2225

In [56]:
print (Sub_Spec_df.isnull().sum())
print (Sub_Spec_df.count())

NPI              0
LAST NAME        0
FIRST NAME       0
SUB SPECIALTY    0
dtype: int64
NPI              4449
LAST NAME        4449
FIRST NAME       4449
SUB SPECIALTY    4449
dtype: int64

In [57]:
Sub_Spec_df = Sub_Spec_df[['NPI','SUB SPECIALTY']]

In [58]:
print(NPPES_df_deduped.dtypes)
print(NPPES_df_deduped[NPPES_df_deduped['NPI']=="1003017971"].head())
print(final_pivot_2.dtypes)
print(final_pivot_2[final_pivot_2['NPI']=="1003017971"].head())

NPI                    object
SPECIALTY              object
LAST_NAME              object
FIRST_NAME             object
MIDDLE_NAME            object
ADDRESS_FIRST_LINE     object
ADDRESS_SECOND_LINE    object
CITY                   object
STATE                  object
ZIP                    object
dtype: object
          NPI SPECIALTY LAST_NAME FIRST_NAME MIDDLE_NAME ADDRESS_FIRST_LINE  \
3  1003017971       RHM     TWEET    MATTHEW         LEE   2725 CAPITOL AVE

  ADDRESS_SECOND_LINE        CITY STATE        ZIP
3           SUITE 302  SACRAMENTO    CA  958166004
NPI                  object
CLAIM_VOLUME_P      float64
CLAIM_VOLUME_Q      float64
PATIENT_VOLUME_P    float64
PATIENT_VOLUME_Q    float64
dtype: object
          NPI  CLAIM_VOLUME_P  CLAIM_VOLUME_Q  PATIENT_VOLUME_P  \
3  1003017971            95.0             0.0              81.0

   PATIENT_VOLUME_Q
3               0.0

In [59]:
Master_df = final_pivot_2.merge(Selected_Part_D,on='NPI',how='outer').merge(Selected_Open_Payments_df,on='NPI',how='outer').merge(\
            NPPES_df_deduped,on='NPI',how='left').merge(Sub_Spec_df,on='NPI',how='left')
print(Master_df.count())
Master_df[Master_df['NPI']=="1003017971"].head(100)

NPI                    19700
CLAIM_VOLUME_P          9339
CLAIM_VOLUME_Q          9339
PATIENT_VOLUME_P        9339
PATIENT_VOLUME_Q        9339
CLAIM_VOLUME_A          7263
PATIENT_VOLUME_A        7263
CLAIM_VOLUME_B          7263
PATIENT_VOLUME_B        7263
CLAIM_VOLUME_C          7263
PATIENT_VOLUME_C        7263
Speaker_Count_P         4287
Speaker_Count_Q         4287
Speaker_Count_A         4287
Speaker_Count_B         4287
Speaker_Count_C         4287
Total_Payment_P         4287
Total_Payment_Q         4287
Total_Payment_A         4287
Total_Payment_B         4287
Total_Payment_C         4287
SPECIALTY              12359
LAST_NAME              12359
FIRST_NAME             12359
MIDDLE_NAME             9739
ADDRESS_FIRST_LINE     12359
ADDRESS_SECOND_LINE     5767
CITY                   12359
STATE                  12359
ZIP                    12359
SUB SPECIALTY           1526
dtype: int64

,NPI,CLAIM_VOLUME_P,CLAIM_VOLUME_Q,PATIENT_VOLUME_P,PATIENT_VOLUME_Q,CLAIM_VOLUME_A,PATIENT_VOLUME_A,CLAIM_VOLUME_B,PATIENT_VOLUME_B,CLAIM_VOLUME_C,PATIENT_VOLUME_C,Speaker_Count_P,Speaker_Count_Q,Speaker_Count_A,Speaker_Count_B,Speaker_Count_C,Total_Payment_P,Total_Payment_Q,Total_Payment_A,Total_Payment_B,Total_Payment_C,SPECIALTY,LAST_NAME,FIRST_NAME,MIDDLE_NAME,ADDRESS_FIRST_LINE,ADDRESS_SECOND_LINE,CITY,STATE,ZIP,SUB SPECIALTY
3,1003017971,95.0,0.0,81.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,4911.56,0.0,0.0,0.0,0.0,RHM,TWEET,MATTHEW,LEE,2725 CAPITOL AVE,SUITE 302,SACRAMENTO,CA,958166004,NaN

In [60]:
for col in Master_df.columns:
    if ("VOLUME" in col) or ("COUNT" in col) or ("PAYMENT" in col):
        Master_df[col].fillna(0,inplace = True)

In [61]:
## Create decile function which creates a new decile column for each measure e.g. CLAIM_VOLUME_P
## decile column should have zero value for zeroes/NA in measure columns
## Also create decile ranks from 1-10 for non-zero measure value based on the respective mesure column
## e.g. decile column for CLAIM_VOLUME_P
Decile_Master_df = Master_df
for col in Master_df.columns:
    if "VOLUME" in col:
        Decile_Master_df = Decile_Master_df.sort_values(by=col,ascending=False)
        Decile_Master_df['cumm_vol'] = Decile_Master_df[col].cumsum()
        max=Decile_Master_df.iloc[-1,Decile_Master_df.columns.get_loc('cumm_vol')]/10
        
        Decile_Master_df['DECILE'+'_'+col]=10-np.floor(Decile_Master_df['cumm_vol']/max)
        Decile_Master_df=Decile_Master_df.drop('cumm_vol',axis=1)
print(Decile_Master_df.head(10))

              NPI  CLAIM_VOLUME_P  CLAIM_VOLUME_Q  PATIENT_VOLUME_P  \
11097  1235138009             0.0             0.0               0.0
11901  1346235744             0.0             0.0               0.0
14427  1689885691             0.0             0.0               0.0
11044  1225092539             0.0             0.0               0.0
11946  1346395647             0.0             0.0               0.0
11335  1265466171             0.0             0.0               0.0
13250  1528254901             0.0             0.0               0.0
16280  1942369533             0.0             0.0               0.0
11756  1326054537             0.0             0.0               0.0
13422  1558439372             0.0             0.0               0.0

       PATIENT_VOLUME_Q  CLAIM_VOLUME_A  PATIENT_VOLUME_A  CLAIM_VOLUME_B  \
11097               0.0             0.0               0.0             0.0
11901               0.0             0.0               0.0             0.0
14427               0.0             0.0               0.0             0.0
11044               0.0             0.0               0.0             0.0
11946               0.0             0.0               0.0             0.0
11335               0.0             0.0               0.0             0.0
13250               0.0             0.0               0.0             0.0
16280               0.0             0.0               0.0             0.0
11756               0.0             0.0               0.0             0.0
13422               0.0             0.0               0.0             0.0

       PATIENT_VOLUME_B  CLAIM_VOLUME_C  PATIENT_VOLUME_C  Speaker_Count_P  \
11097               0.0           206.0             136.0              NaN
11901               0.0            61.0              56.0              NaN
14427               0.0            59.0              48.0              NaN
11044               0.0            83.0              37.0              NaN
11946               0.0            40.0              35.0              NaN
11335               0.0            38.0              30.0              NaN
13250               0.0            46.0              30.0              NaN
16280               0.0            35.0              29.0              NaN
11756               0.0            44.0              28.0              NaN
13422               0.0            35.0              28.0              NaN

       Speaker_Count_Q  Speaker_Count_A  Speaker_Count_B  Speaker_Count_C  \
11097              NaN              NaN              NaN              NaN
11901              NaN              NaN              NaN              NaN
14427              NaN              NaN              NaN              NaN
11044              NaN              NaN              NaN              NaN
11946              NaN              NaN              NaN              NaN
11335              NaN              NaN              NaN              NaN
13250              NaN              NaN              NaN              NaN
16280              NaN              NaN              NaN              NaN
11756              NaN              NaN              NaN              NaN
13422              NaN              NaN              NaN              NaN

       Total_Payment_P  Total_Payment_Q  Total_Payment_A  Total_Payment_B  \
11097              NaN              NaN              NaN              NaN
11901              NaN              NaN              NaN              NaN
14427              NaN              NaN              NaN              NaN
11044              NaN              NaN              NaN              NaN
11946              NaN              NaN              NaN              NaN
11335              NaN              NaN              NaN              NaN
13250              NaN              NaN              NaN              NaN
16280              NaN              NaN              NaN              NaN
11756              NaN              NaN              NaN              NaN
13422              NaN              NaN              NaN              NaN

       Total_Payment_C SPECIALTY LAST_NAME FIRST_NAME MIDDLE_NAME  \
11097              NaN       NaN       NaN        NaN         NaN
11901              NaN       NaN       NaN        NaN         NaN
14427              NaN       NaN       NaN        NaN         NaN
11044              NaN       NaN       NaN        NaN         NaN
11946              NaN       NaN       NaN        NaN         NaN
11335              NaN       NaN       NaN        NaN         NaN
13250              NaN       NaN       NaN        NaN         NaN
16280              NaN       NaN       NaN        NaN         NaN
11756              NaN       NaN       NaN        NaN         NaN
13422              NaN       NaN       NaN        NaN         NaN

      ADDRESS_FIRST_LINE ADDRESS_SECOND_LINE CITY STATE  ZIP SUB SPECIALTY  \
11097                NaN                 NaN  NaN   NaN  NaN           NaN
11901                NaN                 NaN  NaN   NaN  NaN           NaN
14427                NaN                 NaN  NaN   NaN  NaN           NaN
11044                NaN                 NaN  NaN   NaN  NaN           NaN
11946                NaN                 NaN  NaN   NaN  NaN           NaN
11335                NaN                 NaN  NaN   NaN  NaN           NaN
13250                NaN                 NaN  NaN   NaN  NaN           NaN
16280                NaN                 NaN  NaN   NaN  NaN           NaN
11756                NaN                 NaN  NaN   NaN  NaN           NaN
13422                NaN                 NaN  NaN   NaN  NaN           NaN

       DECILE_CLAIM_VOLUME_P  DECILE_CLAIM_VOLUME_Q  DECILE_PATIENT_VOLUME_P  \
11097                    0.0                    0.0                      0.0
11901                    0.0                    0.0                      0.0
14427                    0.0                    0.0                      0.0
11044                    0.0                    0.0                      0.0
11946                    0.0                    0.0                      0.0
11335                    0.0                    0.0                      0.0
13250                    0.0                    0.0                      0.0
16280                    0.0                    0.0                      0.0
11756                    0.0                    0.0                      0.0
13422                    0.0                    0.0                      0.0

       DECILE_PATIENT_VOLUME_Q  DECILE_CLAIM_VOLUME_A  \
11097                      0.0                    0.0
11901                      0.0                    0.0
14427                      0.0                    0.0
11044                      0.0                    0.0
11946                      0.0                    0.0
11335                      0.0                    0.0
13250                      0.0                    0.0
16280                      0.0                    0.0
11756                      0.0                    0.0
13422                      0.0                    0.0

       DECILE_PATIENT_VOLUME_A  DECILE_CLAIM_VOLUME_B  \
11097                      0.0                    0.0
11901                      0.0                    0.0
14427                      0.0                    0.0
11044                      0.0                    0.0
11946                      0.0                    0.0
11335                      0.0                    0.0
13250                      0.0                    0.0
16280                      0.0                    0.0
11756                      0.0                    0.0
13422                      0.0                    0.0

       DECILE_PATIENT_VOLUME_B  DECILE_CLAIM_VOLUME_C  DECILE_PATIENT_VOLUME_C
11097                      0.0                   10.0                     10.0
11901                      0.0                    9.0                      9.0
14427                      0.0                    9.0                      9.0
11044                      0.0                    9.0                      9.0
11946                      0.0                    7.0                      8.0
11335                      0.0                    7.0                      8.0
13250                      0.0                    8.0                      8.0
16280                      0.0                    6.0                      8.0
11756                      0.0                    8.0                      8.0
13422                      0.0                    6.0                      7.0

In [62]:
Decile_Master_df.count()

NPI                        19700
CLAIM_VOLUME_P             19700
CLAIM_VOLUME_Q             19700
PATIENT_VOLUME_P           19700
PATIENT_VOLUME_Q           19700
CLAIM_VOLUME_A             19700
PATIENT_VOLUME_A           19700
CLAIM_VOLUME_B             19700
PATIENT_VOLUME_B           19700
CLAIM_VOLUME_C             19700
PATIENT_VOLUME_C           19700
Speaker_Count_P             4287
Speaker_Count_Q             4287
Speaker_Count_A             4287
Speaker_Count_B             4287
Speaker_Count_C             4287
Total_Payment_P             4287
Total_Payment_Q             4287
Total_Payment_A             4287
Total_Payment_B             4287
Total_Payment_C             4287
SPECIALTY                  12359
LAST_NAME                  12359
FIRST_NAME                 12359
MIDDLE_NAME                 9739
ADDRESS_FIRST_LINE         12359
ADDRESS_SECOND_LINE         5767
CITY                       12359
STATE                      12359
ZIP                        12359
SUB SPECIALTY               1526
DECILE_CLAIM_VOLUME_P      19700
DECILE_CLAIM_VOLUME_Q      19700
DECILE_PATIENT_VOLUME_P    19700
DECILE_PATIENT_VOLUME_Q    19700
DECILE_CLAIM_VOLUME_A      19700
DECILE_PATIENT_VOLUME_A    19700
DECILE_CLAIM_VOLUME_B      19700
DECILE_PATIENT_VOLUME_B    19700
DECILE_CLAIM_VOLUME_C      19700
DECILE_PATIENT_VOLUME_C    19700
dtype: int64

In [63]:
pd.crosstab(Decile_Master_df['DECILE_CLAIM_VOLUME_P'],Decile_Master_df['SPECIALTY'])

SPECIALTY               OPH   OPM  OPRS   RHM
DECILE_CLAIM_VOLUME_P
0.0                    2372  2417  2342  2353
1.0                     300   321   301   310
2.0                     126   154   146   140
3.0                      90    79    96    76
4.0                      60    47    63    59
5.0                      52    43    35    34
6.0                      32    23    34    36
7.0                      19    27    22    23
8.0                      16    17    17    16
9.0                      10    12     8    12
10.0                      7     3     3     6

In [64]:
pd.crosstab(Decile_Master_df['DECILE_CLAIM_VOLUME_P'],Decile_Master_df['DECILE_CLAIM_VOLUME_Q'])

DECILE_CLAIM_VOLUME_Q,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0
DECILE_CLAIM_VOLUME_P,,,,,,,,,,,
0.0,14704,965,368,220,149,112,91,71,56,43,24
1.0,1228,12,2,0,0,0,0,0,0,0,0
2.0,563,4,1,0,1,2,0,0,0,0,0
3.0,332,3,4,1,0,1,0,0,0,0,0
4.0,227,0,1,1,0,1,0,0,0,0,0
5.0,166,1,0,0,1,0,0,0,0,0,0
6.0,123,1,0,0,0,1,0,1,0,0,0
7.0,90,0,1,0,0,0,1,0,0,0,0
8.0,66,0,0,0,0,0,0,0,0,0,0
9.0,42,0,0,0,0,0,0,0,0,0,0
10.0,17,0,0,0,0,0,0,1,1,0,0

In [65]:
Selected_Decile_Master_df = Decile_Master_df.filter(['NPI'] + [col for col in Decile_Master_df.columns if "CLAIM" in col or "PATIENT" in col], axis=1)
Selected_Decile_Master_df.corr()

,CLAIM_VOLUME_P,CLAIM_VOLUME_Q,PATIENT_VOLUME_P,PATIENT_VOLUME_Q,CLAIM_VOLUME_A,PATIENT_VOLUME_A,CLAIM_VOLUME_B,PATIENT_VOLUME_B,CLAIM_VOLUME_C,PATIENT_VOLUME_C,DECILE_CLAIM_VOLUME_P,DECILE_CLAIM_VOLUME_Q,DECILE_PATIENT_VOLUME_P,DECILE_PATIENT_VOLUME_Q,DECILE_CLAIM_VOLUME_A,DECILE_PATIENT_VOLUME_A,DECILE_CLAIM_VOLUME_B,DECILE_PATIENT_VOLUME_B,DECILE_CLAIM_VOLUME_C,DECILE_PATIENT_VOLUME_C
CLAIM_VOLUME_P,1.000000,-0.024929,0.942498,-0.027552,-0.059249,-0.064983,-0.025565,-0.025326,-0.009490,-0.009547,0.828439,-0.035174,0.804719,-0.035203,-0.074990,-0.075558,-0.026032,-0.026636,-0.010314,-0.010347
CLAIM_VOLUME_Q,-0.024929,1.000000,-0.033925,0.775319,-0.056796,-0.062292,-0.024507,-0.024277,-0.009097,-0.009152,-0.048123,0.895291,-0.048922,0.755660,-0.071886,-0.072430,-0.024954,-0.025533,-0.009887,-0.009919
PATIENT_VOLUME_P,0.942498,-0.033925,1.000000,-0.037636,-0.068853,-0.075517,-0.029710,-0.029431,-0.011028,-0.011095,0.881506,-0.046485,0.879567,-0.046142,-0.087147,-0.087807,-0.030252,-0.030954,-0.011986,-0.012024
PATIENT_VOLUME_Q,-0.027552,0.775319,-0.037636,1.000000,-0.070125,-0.076912,-0.030258,-0.029975,-0.011232,-0.011300,-0.053636,0.854822,-0.054295,0.953586,-0.088756,-0.089429,-0.030811,-0.031526,-0.012207,-0.012246
CLAIM_VOLUME_A,-0.059249,-0.056796,-0.068853,-0.070125,1.000000,0.972461,-0.037207,-0.036581,-0.013985,-0.014071,-0.093045,-0.077094,-0.093811,-0.080849,0.861393,0.846270,-0.037937,-0.038272,-0.015200,-0.015249
PATIENT_VOLUME_A,-0.064983,-0.062292,-0.075517,-0.076912,0.972461,1.000000,-0.040732,-0.040002,-0.015339,-0.015432,-0.102050,-0.084555,-0.102889,-0.088674,0.898689,0.901994,-0.041548,-0.041822,-0.016671,-0.016725
CLAIM_VOLUME_B,-0.025565,-0.024507,-0.029710,-0.030258,-0.037207,-0.040732,1.000000,0.922694,-0.006035,-0.006071,-0.040148,-0.033265,-0.040479,-0.034886,-0.047086,-0.047164,0.964123,0.901618,-0.006559,-0.006580
PATIENT_VOLUME_B,-0.025326,-0.024277,-0.029431,-0.029975,-0.036581,-0.040002,0.922694,1.000000,-0.005978,-0.006015,-0.039772,-0.032954,-0.040099,-0.034559,-0.046294,-0.046203,0.878211,0.934243,-0.006497,-0.006518
CLAIM_VOLUME_C,-0.009490,-0.009097,-0.011028,-0.011232,-0.013985,-0.015339,-0.006035,-0.005978,1.000000,0.981454,-0.014903,-0.012348,-0.015025,-0.012949,-0.017701,-0.017835,-0.006145,-0.006287,0.892310,0.871103
PATIENT_VOLUME_C,-0.009547,-0.009152,-0.011095,-0.011300,-0.014071,-0.015432,-0.006071,-0.006015,0.981454,1.000000,-0.014993,-0.012423,-0.015117,-0.013028,-0.017809,-0.017944,-0.006182,-0.006326,0.872393,0.891223
DECILE_CLAIM_VOLUME_P,0.828439,-0.048123,0.881506,-0.053636,-0.093045,-0.102050,-0.040148,-0.039772,-0.014903,-0.014993,1.000000,-0.065154,0.985948,-0.064462,-0.117766,-0.118658,-0.040881,-0.041830,-0.016197,-0.016249
DECILE_CLAIM_VOLUME_Q,-0.035174,0.895291,-0.046485,0.854822,-0.077094,-0.084555,-0.033265,-0.032954,-0.012348,-0.012423,-0.065154,1.000000,-0.066077,0.892315,-0.097576,-0.098315,-0.033873,-0.034659,-0.013420,-0.013463
DECILE_PATIENT_VOLUME_P,0.804719,-0.048922,0.879567,-0.054295,-0.093811,-0.102889,-0.040479,-0.040099,-0.015025,-0.015117,0.985948,-0.066077,1.000000,-0.065200,-0.118735,-0.119634,-0.041218,-0.042174,-0.016331,-0.016383
DECILE_PATIENT_VOLUME_Q,-0.035203,0.755660,-0.046142,0.953586,-0.080849,-0.088674,-0.034886,-0.034559,-0.012949,-0.013028,-0.064462,0.892315,-0.065200,1.000000,-0.102330,-0.103105,-0.035523,-0.036347,-0.014074,-0.014119
DECILE_CLAIM_VOLUME_A,-0.074990,-0.071886,-0.087147,-0.088756,0.861393,0.898689,-0.047086,-0.046294,-0.017701,-0.017809,-0.117766,-0.097576,-0.118735,-0.102330,1.000000,0.983161,-0.048048,-0.048436,-0.019239,-0.019300
DECILE_PATIENT_VOLUME_A,-0.075558,-0.072430,-0.087807,-0.089429,0.846270,0.901994,-0.047164,-0.046203,-0.017835,-0.017944,-0.118658,-0.098315,-0.119634,-0.103105,0.983161,1.000000,-0.048150,-0.048221,-0.019385,-0.019447
DECILE_CLAIM_VOLUME_B,-0.026032,-0.024954,-0.030252,-0.030811,-0.037937,-0.041548,0.964123,0.878211,-0.006145,-0.006182,-0.040881,-0.033873,-0.041218,-0.035523,-0.048048,-0.048150,1.000000,0.917048,-0.006679,-0.006700
DECILE_PATIENT_VOLUME_B,-0.026636,-0.025533,-0.030954,-0.031526,-0.038272,-0.041822,0.901618,0.934243,-0.006287,-0.006326,-0.041830,-0.034659,-0.042174,-0.036347,-0.048436,-0.048221,0.917048,1.000000,-0.006834,-0.006855
DECILE_CLAIM_VOLUME_C,-0.010314,-0.009887,-0.011986,-0.012207,-0.015200,-0.016671,-0.006559,-0.006497,0.892310,0.872393,-0.016197,-0.013420,-0.016331,-0.014074,-0.019239,-0.019385,-0.006679,-0.006834,1.000000,0.954320
DECILE_PATIENT_VOLUME_C,-0.010347,-0.009919,-0.012024,-0.012246,-0.015249,-0.016725,-0.006580,-0.006518,0.871103,0.891223,-0.016249,-0.013463,-0.016383,-0.014119,-0.019300,-0.019447,-0.006700,-0.006855,0.954320,1.000000

In [66]:
Relative_df = Selected_Decile_Master_df.groupby('DECILE_CLAIM_VOLUME_P').mean().reset_index().round(1)
Relative_df

,DECILE_CLAIM_VOLUME_P,CLAIM_VOLUME_P,CLAIM_VOLUME_Q,PATIENT_VOLUME_P,PATIENT_VOLUME_Q,CLAIM_VOLUME_A,PATIENT_VOLUME_A,CLAIM_VOLUME_B,PATIENT_VOLUME_B,CLAIM_VOLUME_C,PATIENT_VOLUME_C,DECILE_CLAIM_VOLUME_Q,DECILE_PATIENT_VOLUME_P,DECILE_PATIENT_VOLUME_Q,DECILE_CLAIM_VOLUME_A,DECILE_PATIENT_VOLUME_A,DECILE_CLAIM_VOLUME_B,DECILE_PATIENT_VOLUME_B,DECILE_CLAIM_VOLUME_C,DECILE_PATIENT_VOLUME_C
0,0.0,0.0,15.1,0.0,6.5,7.3,6.0,1.1,0.6,0.1,0.1,0.3,0.0,0.4,0.7,0.8,0.1,0.1,0.0,0.0
1,1.0,21.0,0.4,17.2,0.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.0,45.6,1.3,34.7,0.8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.2,0.1,0.0,0.0,0.0,0.0,0.0,0.0
3,3.0,76.4,2.0,56.5,1.5,0.0,0.0,0.0,0.0,0.0,0.0,0.1,3.4,0.1,0.0,0.0,0.0,0.0,0.0,0.0
4,4.0,113.2,1.6,81.2,1.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.4,0.1,0.0,0.0,0.0,0.0,0.0,0.0
5,5.0,155.1,1.1,109.5,0.8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,6.0,207.5,5.0,137.4,2.9,0.0,0.0,0.0,0.0,0.0,0.0,0.1,6.4,0.1,0.0,0.0,0.0,0.0,0.0,0.0
7,7.0,283.9,3.7,181.6,2.8,0.0,0.0,0.0,0.0,0.0,0.0,0.1,7.4,0.1,0.0,0.0,0.0,0.0,0.0,0.0
8,8.0,394.5,0.0,239.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,9.0,630.6,0.0,346.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,10.0,1329.0,41.6,595.3,17.6,0.0,0.0,0.0,0.0,0.0,0.0,0.8,9.8,0.9,0.0,0.0,0.0,0.0,0.0,0.0

In [67]:
## Calculate scaled score for each decile for each metric bout of 1000
Total_Relative_df = pd.DataFrame()
Total_Relative_df['DECILE'] = Selected_Decile_Master_df.sort_values(by='DECILE_CLAIM_VOLUME_P',ascending=False)['DECILE_CLAIM_VOLUME_P'].drop_duplicates()
for col in Selected_Decile_Master_df.columns:
    if 'DECILE' in col:
        new_col = col.replace('DECILE_', '')
        Relative_df = Selected_Decile_Master_df.groupby(col)[new_col].mean().reset_index().round(1)
        Relative_df['SCALED_'+new_col] = Relative_df[new_col]*1000/Relative_df.iloc[-1,Relative_df.columns.get_loc(new_col)]
        Total_Relative_df = Total_Relative_df.merge(Relative_df, \
                                left_on = 'DECILE', right_on = col, how='left' ).drop(col, axis = 1).drop(new_col, axis = 1)
        
Total_Relative_df = Total_Relative_df.round(2)
Total_Relative_df

,DECILE,SCALED_CLAIM_VOLUME_P,SCALED_CLAIM_VOLUME_Q,SCALED_PATIENT_VOLUME_P,SCALED_PATIENT_VOLUME_Q,SCALED_CLAIM_VOLUME_A,SCALED_PATIENT_VOLUME_A,SCALED_CLAIM_VOLUME_B,SCALED_PATIENT_VOLUME_B,SCALED_CLAIM_VOLUME_C,SCALED_PATIENT_VOLUME_C
0,10.0,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00
1,9.0,474.49,573.48,500.53,673.27,521.09,556.86,638.50,543.11,328.64,345.59
2,8.0,296.84,428.99,360.20,495.39,346.32,389.37,473.95,383.55,227.18,223.53
3,7.0,213.62,337.06,274.70,383.41,255.12,297.90,379.92,303.27,187.86,185.29
4,6.0,156.13,264.21,211.98,303.18,196.06,237.95,322.74,253.72,167.48,167.65
5,5.0,116.70,210.42,165.91,239.67,155.48,190.36,276.37,207.14,147.09,146.32
6,4.0,85.18,162.13,120.88,183.00,124.15,152.66,237.61,179.39,124.27,127.94
7,3.0,57.49,110.14,84.44,137.59,97.63,121.76,196.95,154.61,107.28,107.35
8,2.0,34.31,64.89,52.91,96.62,73.52,95.18,157.56,132.80,97.09,91.91
9,1.0,15.80,24.76,27.51,53.60,53.44,74.17,106.73,113.97,73.30,81.62
10,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [68]:
## Get scaled scores for each NPI based on each measure
for col in Selected_Decile_Master_df.columns:
    if ('DECILE' in col):
        new_col = col.replace('DECILE_','')
        Selected_Decile_Master_df= Selected_Decile_Master_df.merge(Total_Relative_df[['DECILE','SCALED_'+ new_col]],\
                                    left_on = col, right_on = 'DECILE',how = 'left' ).drop('DECILE',axis=1)
Selected_Decile_Master_df.head()

,NPI,CLAIM_VOLUME_P,CLAIM_VOLUME_Q,PATIENT_VOLUME_P,PATIENT_VOLUME_Q,CLAIM_VOLUME_A,PATIENT_VOLUME_A,CLAIM_VOLUME_B,PATIENT_VOLUME_B,CLAIM_VOLUME_C,PATIENT_VOLUME_C,DECILE_CLAIM_VOLUME_P,DECILE_CLAIM_VOLUME_Q,DECILE_PATIENT_VOLUME_P,DECILE_PATIENT_VOLUME_Q,DECILE_CLAIM_VOLUME_A,DECILE_PATIENT_VOLUME_A,DECILE_CLAIM_VOLUME_B,DECILE_PATIENT_VOLUME_B,DECILE_CLAIM_VOLUME_C,DECILE_PATIENT_VOLUME_C,SCALED_CLAIM_VOLUME_P,SCALED_CLAIM_VOLUME_Q,SCALED_PATIENT_VOLUME_P,SCALED_PATIENT_VOLUME_Q,SCALED_CLAIM_VOLUME_A,SCALED_PATIENT_VOLUME_A,SCALED_CLAIM_VOLUME_B,SCALED_PATIENT_VOLUME_B,SCALED_CLAIM_VOLUME_C,SCALED_PATIENT_VOLUME_C
0,1235138009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,206.0,136.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.00,1000.00
1,1346235744,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,61.0,56.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,328.64,345.59
2,1689885691,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,59.0,48.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,328.64,345.59
3,1225092539,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,83.0,37.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,328.64,345.59
4,1346395647,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40.0,35.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,187.86,223.53

In [69]:
## Assign blended index to each physician based on weights given to each measure and decile of NPI in that measure
import sys
import os
sys.path.append(folder)
import Control_File as control1
Selected_Decile_Master_df['Blended_Index'] = 0
for col in Selected_Decile_Master_df.columns:
    if 'SCALED' in col:
        Selected_Decile_Master_df['Blended_Index'] = Selected_Decile_Master_df['Blended_Index'] + \
                                            Selected_Decile_Master_df[col]*getattr(control1,col.replace('SCALED_',''))

Selected_Decile_Master_df.head()

,NPI,CLAIM_VOLUME_P,CLAIM_VOLUME_Q,PATIENT_VOLUME_P,PATIENT_VOLUME_Q,CLAIM_VOLUME_A,PATIENT_VOLUME_A,CLAIM_VOLUME_B,PATIENT_VOLUME_B,CLAIM_VOLUME_C,PATIENT_VOLUME_C,DECILE_CLAIM_VOLUME_P,DECILE_CLAIM_VOLUME_Q,DECILE_PATIENT_VOLUME_P,DECILE_PATIENT_VOLUME_Q,DECILE_CLAIM_VOLUME_A,DECILE_PATIENT_VOLUME_A,DECILE_CLAIM_VOLUME_B,DECILE_PATIENT_VOLUME_B,DECILE_CLAIM_VOLUME_C,DECILE_PATIENT_VOLUME_C,SCALED_CLAIM_VOLUME_P,SCALED_CLAIM_VOLUME_Q,SCALED_PATIENT_VOLUME_P,SCALED_PATIENT_VOLUME_Q,SCALED_CLAIM_VOLUME_A,SCALED_PATIENT_VOLUME_A,SCALED_CLAIM_VOLUME_B,SCALED_PATIENT_VOLUME_B,SCALED_CLAIM_VOLUME_C,SCALED_PATIENT_VOLUME_C,Blended_Index
0,1235138009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,206.0,136.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.00,1000.00,120.0000
1,1346235744,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,61.0,56.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,328.64,345.59,40.4538
2,1689885691,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,59.0,48.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,328.64,345.59,40.4538
3,1225092539,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,83.0,37.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,328.64,345.59,40.4538
4,1346395647,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40.0,35.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,187.86,223.53,24.6834